[submodule "thirdparty/gtest"]
        path = thirdparty/gtest
        url = https://github.com/google/googletest.git
[submodule "thirdparty/nonstd/value-ptr-lite"]
        path = thirdparty/nonstd/value-ptr-lite
        url = https://github.com/flexferrum/value-ptr-lite.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/Manu343726/boost-cmake.git
	branch = master
[submodule "thirdparty/nonstd/expected-lite"]
	path = thirdparty/nonstd/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
[submodule "thirdparty/nonstd/variant-lite"]
	path = thirdparty/nonstd/variant-lite
	url = https://github.com/martinmoene/variant-lite.git
[submodule "thirdparty/nonstd/optional-lite"]
	path = thirdparty/nonstd/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
