{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size }}">
{%- endmacro %}
{% for f in fields %}<p>{{ input(f.name, f.value) }}{{ input(f.name ~ '_pw', type='password') }}</p>
{% endfor %}